.big-card-container {
  margin: 0 1rem;
  width: 40vw;
  padding: 1px;
}

.big-card-photo {
  width: 100%;
}

.big-card-photo img{
  width: 100%;
}


.big-card-title a{
  margin-top: 10px;
  font-size: 20px;
}

.big-card-description p{
  margin-top: 10px;
  color: gray;
}
