.menu-title-container {
  color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid yellowgreen;
  border-bottom: 1px solid yellowgreen;
}

.menu-title-container hr {
  width: 100%;
}

.menu-title-container h1 {
  font-size: 3rem;
  margin: .5rem 0;
}
